<div class="footer">
  <div>
    <h5 style="color: white">Made with <i class="fas fa-heart"></i> and 🧘🏻‍♀️</h5>
      <a class=social href="https://github.com/jbrisavoine/" target="_blank">
        <i class="fab fa-github">
        </i>
      </a>
  </div>
</div>
