<div class="navbar navbar-expand-sm navbar-light navbar-watchlist fixed-top">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://images.unsplash.com/photo-1460881680858-30d872d5b530?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1742&q=80", class: "logo" %>
    <div class="btn navbar-btn">
      <%= link_to "Create a new list", new_list_path, class: "navbar-link" %>
    </div>
    <% end %>

  <div class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <div class="btn">
      <%= link_to new_list_path, class: "navbar-link" do %>
        <i class="fas fa-plus"></i>
      <% end %>
    </div>
  </div>
</div>
